#nav li.logout {
	float:right;
	margin:0;
}
#nav li.logout a{
	background-position:100% -120px;
}
#nav li.logout a span{
	background-position:0 -80px;
	padding:9px 7px 0 17px;
}
#nav li.logout a:hover{
	background-position:100% -280px;
}
#nav li.logout a:hover span{
	background-position:0 -240px;
}
#nav li.logout i {
	background:url(/images/logout.png) no-repeat 0 2px;
	width:18px;
	height:31px;
	display:inline-block;
	vertical-align:top;
	margin: 0 0 0 10px;
}
#buy-popup .popup-frame{
	padding: 21px 20px 52px;
}

#buy-popup .btn-holder{
	padding: 0 0 0 0px;
}
#buy-popup .btn-holder .green-btn {
	margin: 0 5px 0 0;
}
#buy-popup .btn-holder .red-btn {
    margin: 0 5px 0 0;
}
.cook-sign {
    margin: 40px 0 0;
}
.cook-sign .img-holder{
    width: 150px;
    float: left;
    padding: 0 20px 0 0;
}
.shef-block {
    float:left;
    width: 170px;
}
.category-header {
    width: 940px;
    height: 257px;
    background:url(/images/cat_header.png?v=1) no-repeat 0 2px;
    margin: 0 0 10px;
}
.category-text{
    font-style: italic;
    padding: 25px;
    width: 570px;
    font-size: 15px;
    height: 95px;
}
.category-header ul{
    padding: 0 0 0 80px;
    margin: 4px 0 0 0;
}
.category-header ul li{
    list-style: none;
    font-weight: bold;
    font-size: 16px;
    padding: 12px;
}
.recipe-list .news-label {
    position: absolute;
    background: url(/images/news-label-red.png) no-repeat;
    width: 69px;
    height: 69px;
    text-indent: -9999px;
    overflow: hidden;
    z-index: 15;
    top: -7px;
    left: -7px;
    }
.content-frame  .news-label {
    position: absolute;
    background: url(/images/news-label-red.png) no-repeat;
    width: 69px;
    height: 69px;
    text-indent: -9999px;
    overflow: hidden;
    z-index: 15;
    top: -7px;
    left: -7px;
}
.promo-list .watch-ico {
    background: url(/images/watch-ico.png) no-repeat;
    width: 60px;
    height: 60px;
    position: absolute;
    top: -15px;
    right: -28px;
    text-indent: -9999px;
    overflow: hidden;
}
#newyear-popup .popup {
    position: absolute;
    left: 38%;
    top: 105px;
    margin-left: -130px;
    width: 340px;
}
#newyear-popup .popup .close {
    top: 57px;
    right: -346px;
}
#newyear-popup .preorder {
    font: 18px/21px Georgia, Georgia, serif;


    top: 415px;
    right: -213px;
    position: absolute;
    /*width: 18px;
    height: 18px;*/
    overflow: hidden;
    text-decoration: none;
    /*text-indent: -9999px;*/
}
#newyear-popup .preorder a {
    float: left;
    background: url(/images/red-btn-ny.png) no-repeat 100% -40px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    padding: 0 5px 0 0;
}
#newyear-popup .preorder a span {
    float: left;
    cursor: pointer;
    height: 31px;
    background: url(/images/red-btn-ny.png) no-repeat;
    padding: 9px 13px 0 17px;
}
.new-year .logo {
    background: url(/images/logo_ny.png) no-repeat;
    width: 167px;
    height: 134px;
}
.new-year #nav li a {
    background:url(/images/nav-bg-ny.png) no-repeat 100% -40px;

}
.new-year #nav li a span {
    background: url(/images/nav-bg-ny.png) no-repeat;
}

.new-year #nav li a:hover {
    background-position:100% -200px;
}
.new-year #nav li a:hover span{
    background-position:0 -160px;
}

.new-year #nav li.logout {
        float:right;
        margin:0;
    }
.new-year #nav li.logout a, .new-year #nav li.login a{
    background-position:100% -120px!important;
}
.new-year #nav li.logout a span, .new-year #nav li.login a span{
    background-position:0 -80px!important;
    padding:9px 7px 0 17px!important;
}
.new-year #nav li.logout a:hover, .new-year #nav li.login a:hover{
    background-position:100% -280px!important;
}
.new-year #nav li.logout a:hover span, .new-year #nav li.login a:hover span{
    background-position:0 -240px!important;
}

.new-year #nav .redmenu {
    background: url(/images/red-btn-ny.png) no-repeat 100% -40px;
}
.new-year #nav .redmenu span {
    background: url(/images/red-btn-ny.png) no-repeat;
}
.new-year #nav .redmenu:hover {
    background-position:100% -120px;
}
.new-year #nav .redmenu:hover span{
    background-position:0 -80px;
}

/*newyearpopup close*/
#newyear-popup2 .popup {
    position: absolute;
    left: 42%;
    top: 95px;
    margin-left: -130px;
    width: 340px;
}
#newyear-popup2 .popup .close {
    top: 30px;
    right: -145px;
}

/*Teaser submenu*/
#main-submenu{

}
ul.tisers-list ul {
    display: none;
    list-style:none;
    position: absolute;
    top:105px;
    left: -1px;
    margin: 0;
    width: 142px;
    padding: 0;
    border-top: 5px solid #da251d;
    z-index: 4;
}
#main-submenu ul li{
    height: 20px;
    width: 102px;
    display:block;
    border-left: 0;
    margin: 0 4px;
    padding: 2px 16px;
    background-color: #be2a28;
}
#main-submenu ul li.submenu-start{
    height: 7px;
}
#main-submenu ul li.submenu-end{
    height: 7px;
    border-bottom-right-radius: 8% 100%;
    border-bottom-left-radius: 8% 100%;
    moz-border-bottom-right-radius: 8% 100%;
    moz-border-bottom-left-radius: 8% 100%;
}
#main-submenu ul li a{
    height: 20px;
    color:white;
    border: 0;
    text-decoration: none;
    }
#main-submenu ul li a:hover{
    text-decoration: underline;
}
ul.tisers-list li:hover > ul {
    display: block;
}
#main-submenu ul li a:hover > #main-submenu a {
    display: none;
}
.product-list .recipe-gallery {
    width: 280px;
    height: 240px;
}
.product-list .recipe-gallery ul li {
    width: 280px;
    float: left;
}
.product-list .recipe-gallery-holder {
    width: 280px;
    height: 240px;
}
.product-list .recipe-frame {
    width: 620px;
    min-height: 225px;
}
/*tefal popup*/
#tefal-popup .popup {
    position: absolute;
    left: 43%;
    top: 102px;
    margin-left: -180px;
    width: 340px;
}
#tefal-popup .popup .close {
    top: 23px;
    right: -237px;
}
#tefal-popup .preorder {
    font: 18px/21px Georgia, Georgia, serif;
    top: 382px;
    right: -35px;
    position: absolute;
    /*width: 18px;
    height: 18px;*/
    overflow: hidden;
    text-decoration: none;
    /*text-indent: -9999px;*/
}
#tefal-popup .preorder a {
    float: left;
    background: url(/images/red-btn-ny.png) no-repeat 100% -40px;
    height: 40px;
    text-decoration: none;
    color: #fff;
    overflow: hidden;
    padding: 0 5px 0 0;
}
#tefal-popup .preorder a span {
    float: left;
    cursor: pointer;
    height: 31px;
    background: url(/images/red-btn-ny.png) no-repeat;
    padding: 9px 13px 0 17px;
}
#closed-popup .popup-frame {
    padding: 21px 20px 52px;
}
#closed-popup .btn-holder {
    padding: 0 0 0 116px;
}
#blog {
    width: 100%;
    position: relative;
}
#blog #content{
    width: 650px;
}
#blog #content .content-box{
    padding: 0;
    background: none;
}
#blog #content .blog-text{
    padding: 15px 20px 5px;
}
#blog .lesson-list li{
    background: #fff;
    border-bottom: none;
    border-radius: 5px;
    padding-top: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,0.08);
}
#blog .lesson-list h3{
    margin: 3px 0 10px;
}
#blog .blog-date {
    color: #ba8154;
    font: 16px/20px Georgia, Georgia, serif;
    padding: 0 0 5px;
}
.blog-gallery-holder {
    background: url(/images/promo-blog-bg.png) repeat-x 50% 100%;
    height: 479px;
    position: relative;
    margin: -8px -9999px 16px;
    padding: 8px 9999px 0;
    z-index: 1;
}
#blog .blog-info {
    float: left;
    padding: 22px 0 0;
}
#blog .informer {
    font: 14px/18px Georgia, Georgia, serif;
    padding: 0 12px 0 19px;
    color: #888888;
}
#blog .blog-views{
    background: url(/images/blog-views.png) no-repeat;
}
#blog .blog-likes{
    background: url(/images/blog-likes.png) no-repeat;
}
#blog .blog-comments{
    background: url(/images/blog-comments.png) no-repeat;
}
.blog-holder-content{
    text-align: center;
    padding: 130px 0 0;
}
.blog-holder-content .blog-text{
    margin: 50px auto 0;
    padding: 10px;
    color: #ffffff;
    font-style: italic;
    background-color: #000000;
    width: 637px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";       /* IE 8 */
    filter: alpha(opacity=50);  /* IE 5-7 */
    -moz-opacity: 0.5;          /* Netscape */
    -khtml-opacity: 0.5;        /* Safari 1.x */
    opacity: 0.5;
}
#wrapper .blog-holder{
    background: url(/images/header-bg-blog.png) repeat-x 0 100% ;
}
#blog .blogger{
    overflow: hidden;
    padding: 10px 0 30px;
}
#blog .blogger h2{
    background: url(/images/quote.png) no-repeat;
    padding: 13px 15px 0px 17px;
    margin: 0 0 -4px -17px;
    padding: 13px 15px 0px 17px;
}
#blog .blogger h3{
    color: #6daf31;
    font: 24px/24px Georgia, Georgia, serif;
    margin: 20px 0 8px 0;
}
#blog .blogger-text{
    padding: 0 10px 0 240px;
    color: #333333;
}
.blogger-logo{
    overflow: hidden;
    float:left;
}
.blogger-round{
    background-color: #000000;
    padding: 10px;
    width: 172px;
    height: 172px;
    position: relative;
    border-radius: 96px;
    position: absolute;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";       /* IE 8 */
    filter: alpha(opacity=10);  /* IE 5-7 */
    -moz-opacity: 0.1;          /* Netscape */
    -khtml-opacity: 0.1;        /* Safari 1.x */
    opacity: 0.1;
}
.blogger-logo img{
    width: 172px;
    height: 172px;
    position: relative;
    border-radius: 86px;
    margin: 10px;
}
#blog #sidebar{
    width:280px;
}
#blog .catalog-list{
    width: 275px;
}
#blog .catalog-list > li{
    width: 275px;
    height: 275px;
}
#blog .fb-comments{
    padding: 10px 10px 0;
}
#diet-button{
    float:right;
    background: url(/images/diet-button.png) no-repeat;
    width:110px;
    height:17px;
    padding: 0 0 0 3px;
    line-height: 14px;
}
#diet-button a{
    color: #ffffff;
    text-decoration: none;
    font: 11px/12px Georgia, Georgia, serif;
    line-height: 14px;
}
#diet .popup {
    width: 510px;
    margin-left: -260px;
}
#diet .popup .popup-frame {
    width: 470px;
}
#diet .textarea-holder{
    background: #ddddca;
}
.recipe-box .recipe-frame .text-box{
    padding: 0 0 30px 0;
}
.recipe-box .recipe-buttons{
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #e9e1dd;
    height: 50px;
}
.recipe-box .recipe-buttons .btn-holder{
    padding: 0 10px 0 0;
    float: left;
}
#blog .blog-text .green-btn{
    background: url(/images/nav-bg.png) no-repeat 100% -320px;
}
#blog .blog-text .green-btn span {
    background: url(/images/nav-bg.png) no-repeat 0 -360px;
}